body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h4 {
  padding: 0px;
  margin: 0px;
}

.navbar {
  background: rgb(3, 88, 143);
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;

  .navbar-brand, .navbar-tweetcount {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
  }

  .navbar-brand {
    float: left;
  }

  .navbar-tweetcount {
    float: right;
  }

  .input-query {
    border: 1px solid black;
    display: block;
    float: right;
    height: 40px;
    margin: 5px;
    padding: 0 10px;
  }
}

.tweet-container {
  margin-top: 61.5px;
  overflow: auto;
  width: 40%;
}

.tweet {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin: 5px;
  overflow: hidden;
  padding: 5px;

  .tweet-user {
    flex: 4;
    margin: 5px;
    padding: 0 5px;

    .tweet-avatar {
      border-radius: 10px;
      margin: 10px;
      height: 50px;
      width: 50px;
    }

    .tweet-screen-name {
      color: rgb(0, 0, 0);
      font-weight: 700;
      overflow: hidden;
      padding: 0 5px;
    }
  }

  .tweet-content {
    flex: 6;
    font-size: 10px;
    margin: 5px;
    padding: 0 5px;
  }

}
