body {
  background: slategrey;
  color: black;
  font-size: 14px;
}

h4 {
  padding: 0px;
  margin: 0px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.high {
  opacity: 1;
}

.low {
  opacity: .7;
}

.navbar {
  height: 60px;

  .navbar-brand {
    float: none;
  }

  .brand, .stats {
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    padding: 0 20px;
  }

  .brand {
    float: left;
  }

  .stats {
    font-size: 20px;
    float: right;
  }
}

.home-brand {
  color: rgb(255, 255, 255);
  float: left;
  font-weight: 700;
  font-size: 50px;
  margin-top: 15px;
}

.home-icon {
  float: left;

  img {
    height: 100px;
    width: 100px;
  }
}

.search-bar {
  border-radius: 5px;
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.search-input {
  border-radius: 5px;
}


.tweet-container {
  background-color: #2b3e50;
  margin-top: 60px;
  overflow: auto;
  width: 40%;
}

.data-visual-container {
  background-color: #2b3e50;
  margin-top: 60px;
  overflow: auto;
  width: 60%;
  right: 0;
}

.stop-button {
  background-color: rgb(219, 49, 3);
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: block;
  font-weight: 700;
  font-size: 28px;
  left: 42%;
  padding: 5px;
  position: fixed;
  top: 70px;
}

.tweet {
  background: white;
  border: 1px solid black;
  display: flex;
  margin: 5px;
  overflow: hidden;
  padding: 5px;

  .tweet-user {
    flex: 4;
    margin: 5px;
    padding: 0 5px;

    .tweet-avatar {
      border-radius: 10px;
      margin: 10px;
      height: 50px;
      width: 50px;
    }

    .tweet-screen-name {
      color: rgb(0, 0, 0);
      font-weight: 700;
      overflow: hidden;
      padding: 0 5px;
    }
  }

  .tweet-content {
    flex: 6;
    font-size: 10px;
    margin: 5px;
    padding: 0 5px;
  }

}
